.axis line {
  display: none;
}

.axis path {
  fill: none;
  stroke: #aaa;
  shape-rendering: crispEdges;
}

.axis text {
  fill: #444;
  stroke: none;
  stoke-width: 0;
  font-family: sans-serif;
  font-size: 11px;
  -webkit-font-smoothing: antialiased;
}

rect {
  stroke: #aaa;
  stroke-width: 1px;
  shape-rendering: crispEdges;
  fill: steelblue;
}

.legend {
  font-family: sans-serif;
  font-size: 0.7em;
  margin-top: 0.8em;
}

.swatch {
  height: 10px;
  width: 10px;
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
}

path.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2;
}

.point {
  fill: transparent;
  stroke: transparent;
}
