.grey { color: #aaa; }

img {
  width: 650px;
}

#map {
  width: 650px;
  height: 300px;
  margin-bottom: 1em;
}

.title {
  color: #444;
  font-size: 0.8em;
  text-align: center;
  margin-top: 3em;
  margin-bottom: 0;
  font-family: 'Montserrat', sans-serif;
}

.caption {
  color: #aaa;
  font-size: 1em;
  text-align: center;
  font-style: italic;
  margin-top: 0;
  margin-bottom: 0;
  display: block;
}

.container {
  width: 650px;
  margin: 0 auto;
  padding-bottom: 50px;
}

svg { width: 650px; }

#content { text-align: left; }

.header {
  padding: 0.6em 0 0em;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: #444;
  font-size: 3.875rem;
  text-align: center;
}

.subheader {
  color: #aaa;
  font-family: 'Libre Baskerville', serif;
  margin-top: 0.2em;
  margin-bottom: 1em;
}

nav ul {
  list-style: none;
}

nav li {
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  font-weight: bold;
  margin-left: 46px;
  margin-right: 46px;
}

nav ul {
  padding: 0;
  margin: 0 auto;
  width: 650px;
}

nav p {
  margin-top: 0;
  font-weight: bold;
  -webkit-font-smoothing: subpixel-antialiased;
}

nav a {
  color: #aaa;
}

nav a:hover {
  color: #444;
}

nav {
  text-align: center;
  margin-bottom: 20px;
}

nav .inactive {
  cursor: not-allowed;
  opacity: 0.5;
}

nav .inactive:hover {
  cursor: not-allowed;
  opacity: 0.5;
  color: #aaa;
}

.timestamp { color: #aaa; }

.location { float: right; }

.tooltip-container {
  position: absolute;
  z-index: 1;
  visibility: hidden;
  background-color: white;
  padding: 1em;
  border-radius: 4px;
  opacity: 0.9;
}

.tooltip {
  position: relative;
}

.tooltip:after {
  position: absolute;
  display: inline-block;
  border-top: 6px solid transparent;
  border-right: 6px solid white;
  border-bottom: 6px solid transparent;
  left: -22px;
  top: 25px;
  content: '';
}

.tooltip p {
  color: #aaa;
  padding: 0;
  margin: 0;
}
